.profile__user {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 18px;
}

@media screen and (max-width: 788px) {
    .profile__user {
        gap: 10px;
        max-width: 282px;
    }
}