@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__container/header__container.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__hamburger/header__hamburger.css);
@import url(./blocks/header/__hamburger-bar/header__hamburger-bar.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/__menu/_email/header__menu_email.css);
@import url(./blocks/header/__menu/_logout/header__menu_logout.css);
@import url(./blocks/header/__close-button/header__close-button.css);
@import url(./blocks/header/__close-icon/header__close-icon.css);

@import url(./blocks/login/login.css);
@import url(./blocks/login/__title/login__title.css);
@import url(./blocks/login/__form/login__form.css);
@import url(./blocks/login/__input/login__input.css);
@import url(./blocks/login/__submission-section/login__submission-section.css);
@import url(./blocks/login/__button/login__button.css);
@import url(./blocks/login/__subtitle/login__subtitle.css);
@import url(./blocks/login/__link/login__link.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/popup/__avatar-edit-button/popup__avatar-edit-button.css);
@import url(./blocks/profile/__user/profile__user.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__job/profile__job.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);

@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__grid/elements__grid.css);

@import url(./blocks/element/element.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__info/element__info.css);
@import url(./blocks/element/__caption/element__caption.css);
@import url(./blocks/element/__button-like/element__button-like.css);
@import url(./blocks/element/__button-like/_active/element__button-like_active.css);
@import url(./blocks/element/__button-delete/element__button-delete.css);
@import url(./blocks/element/__button-delete/_hidden/element__button-delete_hidden.css);
@import url(./blocks/element/__like-container/element__like-container.css);
@import url(./blocks/element/__like-counter/element__like-counter.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__author/footer__author.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/_confirm/popup__title_confirm.css);
@import url(./blocks/popup/__title/_avatar/popup__title_avatar.css);
@import url(./blocks/popup/__fieldset/popup__fieldset.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/_error/popup__input_type_error.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_visible/popup__input-error_visible.css);
@import url(./blocks/popup/__btn-save/popup__btn-save.css);
@import url(./blocks/popup/__btn-save/_disabled/popup__btn-save_disabled.css);
@import url(./blocks/popup/__btn-close/popup__btn-close.css);
@import url(./blocks/popup/__btn-confirm/popup__btn-confirm.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__figcaption/popup__figcaption.css);
@import url(./blocks/popup/___response-image/popup__response-image.css);
@import url(./blocks/popup/__response-title/popup__response-title.css);

@import url(./blocks/loading/__container/loading__container.css);
@import url(./blocks/loading/__animation/loading__animation.css);

/* Пока не по БЭМ, но если функция кнопки будет одобрена, оформлю по правилам */
#scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    width: 50px;
    height: 50px;
    display: none;
    cursor: pointer;
    animation-duration: 0.5s;
    animation-name: slideIn;
    transition: opacity 0.5s, transform 0.5s;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 3L2 12h5v8h10v-8h5L12 3z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
}

#scroll-to-top-button.slide-out {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s, transform 0.5s;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}